<header>
  <div class="main_header fixed-width">
    <div class="headeer-logo">
      <a>
        <img src="assets/images/logo.png" alt="" />
      </a>
    </div>

    <div class="header-right">
      <div class="header-search">
        <input type="text" placeholder="Search Active Contract Actions" />
      </div>

      <div class="header-doc">
        <a class="cursor-pointer" (click)="changeView()"> <img src="assets/images/header-doc.png" alt="" /> </a>
      </div>
      <div class="header-settings">
        <a > <img src="assets/images/header-settings.png" alt="" /> </a>
      </div>
      <div class="header-user">
        <img src="assets/images/user-photo.png" alt="" />
      </div>
    </div>
  </div>
</header>