<div class="fixed-width">
  <div class="main_tasks_section">
  <div class="main_tasks_section_title">
    <h3>Tasks</h3>
    <div class="main_tasks_section_button">
    <button class="blue_btn_icon" (click)="addNewTask()">New Task</button>
  </div>
  </div>
    <div class="main_tasks_section_inner">
      <div class="main_tasks_col">
        <app-slack-task-column></app-slack-task-column>
      </div>
      <div class="main_tasks_col">
        <app-slack-task-column></app-slack-task-column>
      </div>
      <div class="main_tasks_col">
        <app-slack-task-column></app-slack-task-column>
      </div>
      <div class="main_tasks_col">
        <app-slack-task-column></app-slack-task-column>
      </div>
    </div>
  </div>
</div>

<div *ngIf="taskModal">
    <app-slack-new-task (closeModal)="closeModal()"></app-slack-new-task>
</div>