@import "../../../variables.scss";
  .answer-box {
    padding-bottom: 115px;
}
.control-label {
    font-size: 12px;
    font-family: "AvenirNextLTPro-Demi";
    letter-spacing: 1px;
    line-height: 16px;
    padding-bottom: 8px;
    display: block;
    text-transform: uppercase;
    color: $black-3;
}
h2 {
    font-size: 18px;
    font-weight: normal;
    line-height: 22px;
    margin: 0px;
    padding-bottom: 24px;
    color:$black-1;
    font-family: "AvenirNextLTPro-Regular";
}
  /**** Dropdown css ***/
label.upload-btn input[type="file"] {
    position:absolute;
    opacity: 0;
}
/***** Example custom styling *****/
.upload-btn {
    border: 2px dashed $cerulean;
    border-radius: 4px;
    padding: 2px 5px;
    background: #fff;
    width: 100%;
    height: 185px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.upload-btn span {
    display: block;
    height: 31px;
     border-radius: 2px;
    border:  1px solid $cerulean;
    font-size: 14px;
  font-weight: 500;
     letter-spacing: 0.3px;
    padding: 6px 8px 6px 16px;
    display: flex;
    align-items: center; 
    justify-content: center;
    color: $cerulean;
}
.upload-btn span img {margin-right: 4px;}
.upload-btn p {
    color: #757585;
     font-size: 14px;
  font-weight: 300;
     font-style: oblique;
    padding-top: 20px;
}


/**** After upload Box  ****/
.upload-box {
    border: 2px dashed $cerulean;
    border-radius: 4px;
    padding: 28px  24px 26px 20px;
      width: 100%;
     display: flex;
    justify-content: space-between;
    align-items: center;    
}
.file-name {
    display: flex; 
    align-items: center;
}
.file-details {
    padding-left: 12px;
}
.file-icon {height: 33px;}
.file-details h3 {
    font-size: 14px;
  font-weight: normal;
    color: #212126;
    margin: 0px;
}
.file-details p{
     font-size: 12px;
  font-weight: 900;
    letter-spacing: 1px;
    color: #aaa7b5;
}
.fileEditcontrol button{
    background-color: transparent;
    border: none;
    outline: 0px;
    cursor: pointer;
    margin-left: 30px;
}
.fileEditcontrol button:first-child {margin-left: 0px;}


