<ul class="process-modal-list">
    <li class="process-modal-step" *ngFor="let data of timelineData; let i=index;" [class.visited]="i < selectedIndex" [class.active]="i == selectedIndex">
      <a>
        <div class="process-modal-dot">
          <div class="process-inner-dot" (click)="updateSelection(i)"></div>
        </div>
        <div class="process-text-detail">
          <div class="process-text-title">{{data.header}}</div>
          <div class="process-text-action">{{data.subHeader}}</div>
        </div>
      </a>
    </li>
  </ul>