

  .task_list_card {
    background: #fff;
    padding: 8px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: all 0.3s ease;
    margin: 0px 0px 8px 0px;

    &:hover
    {
      border: 1px solid #0096ff;
    }
  }

  .task_list_card_meta_row {
    display: flex;
    justify-content: space-between;
    padding: 4px 0px 0px 0px;
    align-items: center;
  }

  .task_list_card_title {
    font-family: "Avenir-Roman";
    font-size: 14px;
    font-weight: normal;
  }

  .task_list_card_meta_date
  {
    font-family: "Avenir-Roman";
    color: #aaa7b5;
    font-size: 12px;
    font-weight: normal;
  }

  .task_list_card_meta_user
  {
    display: flex;   

    span
    {
      cursor: pointer;
      height: 24px;
      width: 24px;
      border:2px solid #fff;
      border-radius: 100px;
      overflow: hidden;
      margin: 0px -10px 0px 0px;

      &:last-child
      {
        margin: 0px;
      }

      img
      {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }

