<!--status-block component-->
<div class="status-block">
    <div class="status-inner-block">
        <div class="status-header">
            <div class="status-title">{{data.header}}
            </div>
            <div class="status-time-details">
                <div class="status-count">{{data.days}}</div>
                <!-- <div class="status-days"></div> -->
            </div>
        </div>
        <div class="status-pending-approve-block">
            <div class="status-pending-block" *ngIf="data.pending && data.pending.length">
                <div class="status-pending-title">PENDING</div>
                <div class="status-user-details" *ngFor="let user of data.pending">
                    <div class="status-user-name">
                        <div class="status-user"><img src="../../../../assets/images/user-photo.png" /></div>
                        <div class="status-name-text">{{user.name}}</div>
                    </div>
                    <div class="status-pending-dot pending" [class.non-visited]="isNonVisited"></div>
                </div>
            </div>
            <div class="status-pending-block" *ngIf="data.approved && data.approved.length">
                <div class="status-pending-title">APPROVED</div>
                <div class="status-user-details" *ngFor="let user of data.approved">
                    <div class="status-user-name">
                        <div class="status-user"><img src="../../../../assets/images/user-photo.png" /></div>
                        <div class="status-name-text">{{user.name}}</div>
                    </div>
                    <div class="status-pending-dot approve"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/status-block component-->