<!--status-block component-->
<div class="status-block">
    <div class="status-inner-block">
        <div class="status-header">
            <div class="status-title">ACQ Strategy Formulation
            </div>
            <div class="status-time-details">
                <div class="status-count">150 Actions</div>
                <div class="status-days">23 days</div>
            </div>
        </div>
        <div class="status-pending-approve-block">
            <div class="status-pending-block">
                <div class="status-pending-title">PENDING</div>
                <div class="status-user-details">
                    <div class="status-user-name">
                        <div class="status-user"><img src="../../../../assets/images/user-photo.png" /></div>
                        <div class="status-name-text">T. Caputo</div>
                    </div>
                    <div class="status-pending-dot pending"></div>
                </div>
                <div class="status-user-details">
                    <div class="status-user-name">
                        <div class="status-user"><img src="../../../../assets/images/user-photo.png" /></div>
                        <div class="status-name-text">T. Caputo</div>
                    </div>
                    <div class="status-pending-dot pending"></div>
                </div>
            </div>
            <div class="status-pending-block">
                <div class="status-pending-title">APPROVED</div>
                <div class="status-user-details">
                    <div class="status-user-name">
                        <div class="status-user"><img src="../../../../assets/images/user-photo.png" /></div>
                        <div class="status-name-text">T. Caputo</div>
                    </div>
                    <div class="status-pending-dot approve"></div>
                </div>
                <div class="status-user-details">
                    <div class="status-user-name">
                        <div class="status-user"><img src="../../../../assets/images/user-photo.png" /></div>
                        <div class="status-name-text">T. Caputo</div>
                    </div>
                    <div class="status-pending-dot approve"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/status-block component-->