@import "../../../../../variables.scss";
.question-main {
    display: flex;
    max-width: 100%;
    margin: 0 auto;
}
.control-label {
    font-size: 12px;
    font-family: "AvenirNextLTPro-Demi";
    letter-spacing: 1px;
    line-height: 16px;
    padding-bottom: 8px;
    display: block;
    text-transform: uppercase;
    color: $black-3;
}
  .question-box {
    padding: 29px 32px 20px 24px;
    background: $ice-blue-two;
    width: 100%;
}
  .question-box .question-no {
    font-size: 12px;
    color: $black-3;
    letter-spacing: 1px;
    padding-bottom: 12px;
    font-family: "AvenirNextLTPro-Demi";
    line-height: 16px;
    text-transform: uppercase;
    display: block;
}
  .question-box h2 {
    font-size: 18px;
    font-weight: normal;
    line-height: 22px;
    margin: 0px;
    padding-bottom: 24px;
    color:$black-1;
    font-family: "AvenirNextLTPro-Regular";
}
.col-6 {
    flex-basis: 50%;
    padding: 0 15px;
}

.form-control {
    border-radius: 4px;
    height: 37px;
    border: 1px solid #dfe6ee;
    display: block;
    width: 100%;
    color: #757585;
    font-size: 14px;
    font-weight: normal;
    padding: 5px 16px;
    line-height: 1;
    transition: all 0.3s;
}

.form-control:focus {
    outline: 0px;
    border: 1px solid $cerulean;
}


/***** Radio Btn css ******/

.radio-btn {
    position: relative;
    display: flex;
    align-items: center;
}

.radio-btn input {
    opacity: 0;
    z-index: -1;
    position: absolute;
}

.radio-btn input:checked ~ .radio-box:after {
    opacity: 1;
}

.radio-btn input:checked ~ .radio-label {
    color: $cerulean;
}

.radio-btn input:checked ~ .radio-box {
    border-color: $cerulean;
}

.radio-btn .radio-box {
    width: 18px;
    height: 18px;
    border: solid 1px #c2c2cc;
    display: inline-block;
    border-radius: 50%;
    position: relative;
}

.radio-btn .radio-box:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    opacity: 0;
    background: $cerulean;
    transition: all 0.3s;
    overflow: hidden;
    bottom: 0;
    right: 0;
    margin: auto;
}

.radio-label {
    font-size: 14px;
    font-weight: normal;
    line-height: 2.07;
    letter-spacing: normal;
    color: $black-1;
    padding-left: 16px;
    transition: all 0.3s;
      font-family: "Avenir-Roman";
}

.radio-listing p {
    padding-bottom: 13px;
}
.radio-listing p:hover .radio-box {
    border-color:  $cerulean;
}

.radio-listing p:hover .radio-label {
    color:  $cerulean;
}
/****** Single Dropdown ******/

.form-row {
    margin: 0 -15px;
    display: flex;
}

.radio-listing {
    padding-top: 12px;
}
  .NextPrev-Nav {
    display: flex;
    justify-content: space-between;
}

.NextPrev-Nav a {
    color: $cerulean;
    font-family: "AvenirNextLTPro-Demi";
    font-size: 14px;
    letter-spacing: 0.3px;
    display: flex;
    align-items: center;
}

.NextPrev-Nav a span {
    display: inline-flex;
}

.prev-arrow span {
    padding-right: 11px;
}

.next-arrow span {
    padding-left: 11px;
}

