<div class="fixed-width">
    <div class="doc-table-title">
      <div class="doc-table-title-text">
        <h3>Documents</h3>
      </div>
      <button class="blue_btn_icon">New Document</button>
    </div>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>DOCUMENT</th>
            <th>DATE UPLOADED</th>
            <th>UPLOADED BY</th>
            <th>
                LAST ACCESSED BY
            </th>
            <th>
             
            </th>
            
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Program Request</td>
            <td>10/05/2019</td>
            <td>Tori Caputo</td>
            <td>Mark Waites</td>
            <td><img src="../../../assets/images/download.svg"/></td>
          </tr>
          <tr>
            <td>Program Request</td>
            <td>10/05/2019</td>
            <td>Tori Caputo</td>
            <td>Mark Waites</td>
            <td><img src="../../../assets/images/download.svg"/></td>
          </tr>
          <tr>
              <td>IGCE</td>
              <td>10/05/2019</td>
              <td>Tori Caputo</td>
              <td>Mark Waites</td>
              <td><img src="../../../assets/images/download.svg"/></td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>