<div class="fixed-width">
  <ul class="process-modal-list">
      <li class="process-modal-step" *ngFor="let data of timelineData; let i=index;" [class.visited]="i < selectedIndex" [class.active]="i == selectedIndex">
          <a>
              <div class="process-modal-dot" [class.white-bg]="isWhiteBG">
                  <div class="triangle-icon" *ngIf="i>0">
                        <img src="../../../../assets/images/triangle.svg" alt="triangle" />
                    </div>
                  <div class="process-inner-dot" (click)="updateSelection(i)"></div>
              </div>
              
            <div class="process-text-detail" *ngIf="!isDetailed">
                <div class="process-text-title">{{data.header}}</div>
                <div class="process-text-action">{{data.subHeader}}</div>
              </div>
              <app-status-block [data]="data" *ngIf="isDetailed"></app-status-block>
          </a>
      </li>
  </ul>
</div>