<div class="fixed-width">
<div class="create-pr-step-first">
  <div class="create-pr-title">
    <h3>Step 1: Enter the details</h3>
  </div>
  <div class="create-pr-box">
    <div class="create-inner-pr-box">
    <div class="create-pr-item">
      <div class="create-pr-box-title">
        <h4>Title of the Contracting Action</h4>
      </div> 
      <div class="create-pr-textbox">
        <input type="text" name="title" [(ngModel)]="title"/>
      </div>
    </div>
    <div class="create-pr-item">
      <div class="create-pr-box-title">
        <h4>ID Number</h4>
      </div> 
      <div class="create-pr-textbox">
        <!-- <input type="text" name="id" [(ngModel)]="id"/> -->
        <div class="id-no">32455393946</div>
      </div>
    </div>
    </div>
  </div>
</div>
</div>