<div class="fixed-width">
  <div class="primary-tabs-block">
    <div class="primary-tabs">
      <ul>
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Acquisition Planning</a></li>
        <li><a href="#">Action Tracker</a></li>
        <li><a href="#">Contacts</a></li>
        <li><a href="#">Program Accounts</a></li>
        <li><a href="#">Market Research</a></li>
        <li><a href="#">Files</a></li>
        <li><a href="#">Conversations</a></li>
        <li><a href="#">Training</a></li>
      </ul>
    </div>
  </div>
</div>