<div class="fixed-width">
  <div class="primary-tabs-block">
    <div class="primary-tabs">
      <ul>
        <li><a routerLink="/home" [routerLinkActive]="['active']">Home</a></li>
        <li><a routerLink="/acq-planning" [routerLinkActive]="['active']">Acquisition Planning</a></li>
        <li><a routerLink="/action-tracker" [routerLinkActive]="['active']">Action Tracker</a></li>
        <li><a routerLink="/a" [routerLinkActive]="['active']">Contacts</a></li>
        <li><a routerLink="/b" [routerLinkActive]="['active']">Program Accounts</a></li>
        <li><a routerLink="/c" [routerLinkActive]="['active']">Market Research</a></li>
        <li><a routerLink="/d" [routerLinkActive]="['active']">Files</a></li>
        <li><a routerLink="/e" [routerLinkActive]="['active']">Conversations</a></li>
        <li><a routerLink="/f" [routerLinkActive]="['active']">Training</a></li>
      </ul>
    </div>
  </div>
</div>