<div class="total-container">
  <div class="total-chart-title">
        <h4>Total Budget: $500,000,000</h4>
  </div>
<div class="bar-chart-container">
    <div class="bar-chart-column">
      <div class="bar-chart-inner">
        <div class="bar-chart-thumb-container">
          
          <div class="bar-col">
            <div class="bar-inner-column"> 
              <div class="line-graph medium">
              
              </div>
            </div>
          </div>
          <div class="bar-col">
            <div class="bar-inner-column">
              <div class="line-graph high">
                
              </div>
            </div>
          </div>
          
        </div>
      </div>
      <div class="bar-chart-bottom-text">
        <span class="year-text">Goal:</span><span class="year-percentage"> 22%</span>
      </div>
      <div class="total-text">$61.4 B</div>
    </div>
    
  </div>
</div>