<div class="total-container">
  <div class="total-chart-title">
        <h4>Total Budget: $500,000,000</h4>
  </div>
<div class="bar-chart-container">
    <div class="bar-chart-column">
      <div class="bar-chart-inner">
        <div class="bar-chart-thumb-container">
          
          <div class="bar-col">
            <div class="bar-inner-column"> 
              <div class="line-graph medium">
              
              </div>
            </div>
          </div>
          <div class="bar-col">
            <div class="bar-inner-column">
              <div class="line-graph high">
                
              </div>
            </div>
          </div>
          
        </div>
      </div>
      <div class="bar-chart-bottom-text">
        <div class="total-bar-width">
          <div class="total-bar-chart-text-detail">
            <div class="total-bar-chart-dot high"></div>
            <div class="total-bar-dot-status">Available</div>
          </div>
          <div class="year-percentage">47.6%</div>
        </div>
        <div class="total-bar-width">
            <div class="total-bar-chart-text-detail">
              <div class="total-bar-chart-dot high"></div>
              <div class="total-bar-dot-status">Available</div>
            </div>
            <div class="year-percentage">47.6%</div>
          </div>
      </div>
     
    </div>
    
  </div>
</div>