@import "../../../../variables.scss";
.bar-chart-text-row {
  display: flex;
  padding: 0 0 15px;
  align-items: flex-start;
}
.total-chart-title{
  color:$dark-grey-two;
  font-size: 18px;
  padding-bottom:20px;
  text-align: center;
}
.total-container{
  padding: 26px 33px;
  width: 100%;
  border: 1px solid #ededf0;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.bar-chart-container{
  display: flex;
  align-items: center;
  justify-content: center;
  height:100%;
  
}

.bar-col, .total-bar-width {
  &:first-child {
    .line-graph, .total-bar-chart-dot {
    background: $ice-blue-two;
  }}
  &:nth-child(2) {
    .line-graph, .total-bar-chart-dot {
      background: $azure;
    }
  }
  &:nth-child(3) {
    .line-graph, .total-bar-chart-dot {
      background: $cerulean;
    }
  }
  &:nth-child(4) {
    .line-graph, .total-bar-chart-dot {
      background: $sky-blue;
    }
  }
}


.bar-chart-column {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 165px;
}
.bar-chart-inner {
  display: flex;
  width: 100%;
  align-items: flex-end;
}
.bar-chart-thumb-container{
  display: flex;
  padding: 17px 0;
  border-left: 1px solid $black-5;
  border-bottom: 1px solid $black-5;
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.bar-inner-column{
  width: 100%;
  height: 46px;
}
.line-graph{
  width: 100%;
  height: 100%;
  display: inline-block;
  position: relative;
}

.bar-col{
  display: flex;
  justify-content: flex-end;
  &:last-child{
    margin:0;
  }
}

.year-text{
  color:$dark-grey-two;
  font-size: 18px;
}
.year-percentage{
  font-size: 16px;
  font-family: "AvenirNextLTPro-Demi";
}
.bar-chart-bottom-text{
  display: flex;
  justify-content: center;
  align-items: center;
  padding:35px 0 0;
  max-width: 178px;
  flex-direction: column;
}
.total-text{
  font-size: 14px;
  color:$black-2;
  font-family: "Avenir-Roman";
  padding:2px 0 0;
  text-align: center;
}
.bar-chart-text-detail{
  flex:1 1 auto;
  display: flex;
}
.text-content{
  position: absolute;
  top: 0;
  right: -25px;
  transform: rotate(90deg);
}
.total-bar-chart-dot{
  height:18px;
  width:18px;
  border-radius: 3px;
}
.total-bar-chart-text-detail{
  display: flex;
  align-items: center;
}
.total-bar-dot-status{
  color:$dark-grey-two;
  font-size: 16px;
  padding: 0 0 0 12px;
}
.total-bar-width{
  width:100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}