<div class="fixed-width">
  <div class="whs-dashboard-block">
    <h2>WHS Acquisition Directorate Performance Dashboard</h2>
    <div class="whs-dashboard-row">
      <div class="whs-dashboard-col-one">
        <div class="whs-ad-perfomance-block">
          <h3>WHS AD Performance</h3>
          <div class="two-col-table">
            <div class="two-col-table-row">
              <div class="two-col-table-label">
                Agency Target ECLT(Days) (per contract action):
              </div>
              <div class="two-col-table-value">120</div>
            </div>
            <div class="two-col-table-row">
              <div class="two-col-table-label">
                Average ECLT (per contract action):
              </div>
              <div class="two-col-table-value">146</div>
            </div>
          </div>

          <div class="four-col-table-block">
            <div class="four-col-table-row four-col-table-heading-row">
              <div class="four-col-table-col-one">
                WHS- AD OSD Obligation Peformance
                <span> (as of Current date)</span>
              </div>
              <div class="four-col-table-col-two">
                OSD-C Controls
              </div>
              <div class="four-col-table-col-three">
                FY18
              </div>
              <div class="four-col-table-col-four">
                FY19
              </div>
            </div>

            <div class="four-col-table-row">
              <div class="four-col-table-col-one">
                PDW
              </div>
              <div class="four-col-table-col-two">
                32%
              </div>
              <div class="four-col-table-col-three">
                99%
              </div>
              <div class="four-col-table-col-four">
                34%
              </div>
            </div>

            <div class="four-col-table-row">
              <div class="four-col-table-col-one">
                PDW
              </div>
              <div class="four-col-table-col-two">
                32%
              </div>
              <div class="four-col-table-col-three">
                99%
              </div>
              <div class="four-col-table-col-four">
                34%
              </div>
            </div>

            <div class="four-col-table-row">
              <div class="four-col-table-col-one">
                PDW
              </div>
              <div class="four-col-table-col-two">
                32%
              </div>
              <div class="four-col-table-col-three">
                99%
              </div>
              <div class="four-col-table-col-four">
                34%
              </div>
            </div>
            <div class="four-col-table-row">
              <div class="four-col-table-col-one">
                PDW
              </div>
              <div class="four-col-table-col-two">
                32%
              </div>
              <div class="four-col-table-col-three">
                99%
              </div>
              <div class="four-col-table-col-four">
                34%
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="whs-dashboard-col-one">
        <div class="whs-ad-perfomance-block">
          <h3>WHS AD Total Budget Alocation</h3>

          <div class="three-col-table-type-one">
            <div class="three-col-table-row three-col-table-heading-row">
              <div class="three-col-table-col-one"></div>
              <div class="three-col-table-col-two align-right">
                Year to Date
              </div>
              <div class="three-col-table-col-three align-right">2018</div>
            </div>
            <div class="three-col-table-row">
              <div class="three-col-table-col-one">
                Total Budget Available:
              </div>
              <div class="three-col-table-col-two align-right">
                US$ 10,445,000,000
              </div>
              <div class="three-col-table-col-three align-right">
                US$ 6,129,472,947
              </div>
            </div>
            <div class="three-col-table-row">
              <div class="three-col-table-col-one">
                Total Obligated Funds:
              </div>
              <div class="three-col-table-col-two align-right">
                US$ 10,445,000,000
              </div>
              <div class="three-col-table-col-three align-right">
                US$ 6,129,472,947
              </div>
            </div>
            <div class="three-col-table-row">
              <div class="three-col-table-col-one">
                Total Funds Obligated:
              </div>
              <div class="three-col-table-col-two align-right">
                US$ 10,445,000,000
              </div>
              <div class="three-col-table-col-three align-right">
                US$ 6,129,472,947
              </div>
            </div>
            <div class="three-col-table-row">
              <div class="three-col-table-col-one">
                Total Contract Value (Anticipated Awards)
              </div>
              <div class="three-col-table-col-two align-right">
                US$ 10,445,000,000
              </div>
              <div class="three-col-table-col-three align-right">
                US$ 6,129,472,947
              </div>
            </div>
            <div class="three-col-table-row">
              <div class="three-col-table-col-one">
                Total Completed Contract Actions:
              </div>
              <div class="three-col-table-col-two align-right">
                US$ 10,445,000,000
              </div>
              <div class="three-col-table-col-three align-right">
                US$ 6,129,472,947
              </div>
            </div>
            <div class="three-col-table-row">
              <div class="three-col-table-col-one">
                Total Actions Outstanding:
              </div>
              <div class="three-col-table-col-two align-right">
                US$ 10,445,000,000
              </div>
              <div class="three-col-table-col-three align-right">
                US$ 6,129,472,947
              </div>
            </div>
            <div class="three-col-table-row large_table_content">
              <div class="three-col-table-col-one">
                WHS AD Total Anticipated Actions FY19
              </div>
              <div class="three-col-table-col-two align-right">
                2,729
              </div>
              <div class="three-col-table-col-three align-right">
                2,144
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>