<div class="data_management_main">
  <div class="heading_with_edit">
    <h2>Data Management Services</h2>
    <div class="heading_edit">
      <img src="../../../assets/images/edit-blue.svg" alt="" />
      <span>Edit</span>
    </div>
  </div>
  <div class="data_management_ID">
    ID: {{id}}
  </div>
  <div class="data-man-row"> 
    <div class="data-man-col">
      <div class="two_col_list">
        <div class="two_col_list_row">
          <div class="two_col_list_label">Requested Funds:</div>
          <div class="two_col_list_value">{{funds?.requestedFunds}}</div>
        </div>
        <div class="two_col_list_row">
          <div class="two_col_list_label">Obligated Funds:</div>
          <div class="two_col_list_value">{{funds?.obligatedFund}}</div>
        </div>
      </div>
  </div>
<div class="data-man-col">
  <div class="two_col_list">
        <div class="two_col_list_row">
          <div class="two_col_list_label">Description:</div>
          <div class="two_col_list_value">{{funds?.description}}</div>
  </div>
        
</div>
</div>
  </div> 


</div>