
<h2>{{data.question}}</h2>
<div class="answer-box">
    <form>
        <div class="form-group">
            <label class="control-label">{{optionLabel}}</label>
            <div class="radio-listing">
                <p *ngFor="let item of data.options">
                    <label class="radio-btn">
                        <input type="radio" [name]="data.slug" [value]="item.value" [(ngModel)]="fieldValue"><span class="radio-box"></span> <span
                            class="radio-label">{{item.label}}</span></label>
                </p>
            </div>
        </div>
    </form>
</div>