<span class="question-no"> Question 3 of 10</span>
<h2>It looks like that you are trying to procure a product/service to <span>‘take from response of Q1’.</span>
    Is that correct?</h2>
<div class="answer-box">
    <form>
        <div class="form-group">
            <label class="control-label">Select the top level agency</label>
            <div class="radio-listing">
                <p>
                    <label class="radio-btn">
                        <input type="radio" name="agency" /><span class="radio-box"></span> <span
                            class="radio-label">Yes, that is correct.</span></label>
                </p>
                <p>
                    <label class="radio-btn">
                        <input type="radio" name="agency" /><span class="radio-box"></span> <span
                            class="radio-label">No, that is incorrect.</span></label>
                </p>
            </div>
        </div>
    </form>
</div>