.back_to_page {
  background: url("../../../assets/images/back-long-arrow.png") 0px 3px
    no-repeat;
  padding: 0px 0px 16px 22px;
  font-family: "AvenirNextLTPro-Regular";
  font-size: 14px;
  color: #0096ff;
  cursor: pointer;
}