<div class="fixed-width">
    <div class="back_to_page" (click)="backToTracker()">
        Back to Action Tracker
    </div>
    <app-datamanagement [id]="id" [funds]="funds"></app-datamanagement>
    <app-status-tracker [timelineData]="timelineData" [isChangable]="false" [selectedIndex]="selectedTimeline"></app-status-tracker>
    <app-acquisitionstrategy></app-acquisitionstrategy>
    <app-slack-main></app-slack-main>
    <app-document-table></app-document-table>
    <app-conversation></app-conversation>
</div>