<app-header (switchView)="switchView()"></app-header>
<div *ngIf="isIframeOpen">
    <!-- <div class='tableauPlaceholder' id='viz1558625773687' style='position: relative'>
      <noscript>
        <a href='#'>
          <img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;4R&#47;4R69G4K5Z&#47;1_rss.png' style='border: none' />
        </a>
      </noscript>
      <object class='tableauViz'  style='display:none;'>
        <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> 
        <param name='embed_code_version' value='3' /> 
        <param name='path' value='shared&#47;4R69G4K5Z' /> 
        <param name='toolbar' value='yes' />
        <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;4R&#47;4R69G4K5Z&#47;1.png' /> 
        <param name='animate_transition' value='yes' />
        <param name='display_static_image' value='yes' />
        <param name='display_spinner' value='yes' />
        <param name='display_overlay' value='yes' />
        <param name='display_count' value='yes' />
      </object>
    </div>                
    <script type='text/javascript'>
      var divElement = document.getElementById('viz1558625773687');
      var vizElement = divElement.getElementsByTagName('object')[0];
      if ( divElement.offsetWidth > 800 ) { 
        vizElement.style.width='1300px';
        vizElement.style.height='827px';
      } else if ( divElement.offsetWidth > 500 ) { 
        vizElement.style.width='1300px';
        vizElement.style.height='827px';
      } else { 
        vizElement.style.width='100%';
        vizElement.style.height='1077px';
      }
      var scriptElement = document.createElement('script');
      scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
      vizElement.parentNode.insertBefore(scriptElement, vizElement);
    </script> -->


  <iframe width="100%" height="100%" frameborder="0" allowtransparency="true" id="displayIframe" name="iframe1"
    [src]="iframeUrl | safe" style="height: 80vh;"></iframe>
</div>
<div *ngIf="!isIframeOpen">
  <app-sub-header></app-sub-header>
  <app-menu-tab></app-menu-tab>

  <router-outlet></router-outlet>
</div>