@import "../../../variables.scss";
.create-pr-step-first{
  width:100%;
  padding:0 0 60px;
}
.create-pr-title{
  h3{
  font-size:18px;
  font-family: "AvenirNextLTPro-Demi";
  color:$black-1;
  padding:0 0 12px;
  }
} 
.create-pr-box-title{
  padding:0 0 12px;
  h4{
    color:$azure;
    font-size:12px;
    font-family: "AvenirNextLTPro-Demi";
    letter-spacing: 1px;
  }
}
.create-pr-textbox{
  input{
    border: none;
    border-bottom: 1px solid #aaa7b5;
    padding: 0 0 7px;
    color: #222f42;
    font-size: 14px;
    width:100%;
    outline: 0;
  }
}
.create-pr-box{
  max-width:894px;
  width:100%;

}
.create-inner-pr-box{
  width:100%;
  border:1px solid $very-light-blue;
  padding:20px 24px;
  display: flex;
  justify-content: space-between;
  border-radius: 4px;
}
  .create-pr-item{
    flex:0 0 40%;
  }
.question-ans-container{
  width:100%;
  display: flex;
}
.question-left-part{
  flex:0 0 160px;
}
.question-middle-part{
  flex:1 1 auto;
  padding:0 17px;
}
.question-right-part{
  flex:0 0 160px
}
.question-left-topic{
width:100%;
}
.inner-topic{
  width:100%;
}
.topic-items{
  width:100%;
  padding:0 0 16px;
  &:last-child{
    padding:0;
  }
}
.topic-inner-box{
  display: flex;
  align-items: center;
}
.topic-text{
  font-size: 12px;
  font-family: "Avenir-Roman";
  color:$black-6;
  padding:0 0 0 7px;
}
.topic-svg-block{
  width:20px;
  height:20px;
  flex:0 0 20px;
  background: $black-5;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.default-fill{
  fill:#c2c2c2;
}
.topic-content{
  display:flex;
  align-items: center;
  padding:6px 7px;
}
.visited-topic{
  .topic-svg-block{
    background:$ice-blue-two;
  }
  .default-fill{
    fill:$azure;
  }
}
.active-topic{
  .topic-content{
    background:$ice-blue-two;
    border-radius: 100px;
  }
  .topic-svg-block{
    background:#ffffff;
  }
  .default-fill{
    fill:$black-4;
  }
}

.question-main {
  display: flex;
  max-width: 100%;
  margin: 0 auto;
}



.question-box {
  padding: 29px 32px 20px 24px;
  background: $ice-blue-two;
  width: 100%;
}

/**** Navigation arrow Css ****/

.NextPrev-Nav {
  display: flex;
  justify-content: space-between;
}

.NextPrev-Nav a {
  color: $cerulean;
  font-family: "AvenirNextLTPro-Demi";
  font-size: 14px;
  letter-spacing: 0.3px;
  display: flex;
  align-items: center;
}

.NextPrev-Nav a span {
  display: inline-flex;
}

.prev-arrow span {
  padding-right: 11px;
}

.next-arrow span {
  padding-left: 11px;
}