<div class="fixed-width">
  <div class="create-pr-step-second">
    <div class="create-pr-title">
      <h3>Step 2: Fill in the Questionnaire</h3>
    </div>
    <div class="question-ans-container">
      <div class="question-left-part">
        <div class="question-left-topic">
          <div class="inner-topic">
            <div class="topic-items" *ngFor="let question of questionSet; let i=index"
              [class.visited-topic]="i < currentIndex" [class.active-topic]="i == currentIndex">
              <div class="topic-inner-box">
                <div class="topic-content">
                  <div class="topic-svg-block">
                    <svg width="10px" height="8px" viewBox="0 0 10 8">
                      <path class="default-fill" fill-rule="nonzero"
                        d="M3.68 7.589a.58.58 0 0 1-.41-.17l-3.1-3.1a.58.58 0 1 1 .82-.82l2.666 2.665L8.987.194a.58.58 0 0 1 .866.772l-5.74 6.429a.58.58 0 0 1-.416.194H3.68z" />
                    </svg>
                  </div>
                  <div class="topic-text">{{question?.title}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="question-middle-part" *ngIf="questionSet && questionSet[currentIndex]">
        <div class="question-main">

          <div class="question-box">
            <div *ngIf="questionSet[currentIndex].type === 'text'">
              <app-text-input></app-text-input>
            </div>
            <div *ngIf="questionSet[currentIndex].type === 'NAICS'">
              <app-naics-code></app-naics-code>
            </div>
            <div *ngIf="questionSet[currentIndex].type === 'mcq'">
              <app-mcq></app-mcq>
            </div>
            <div *ngIf="questionSet[currentIndex].type === 'dropdown'">
              <app-single-dropdown></app-single-dropdown>
            </div>
            <div *ngIf="questionSet[currentIndex].type === 'calendar'">
              <app-calendar-type></app-calendar-type>
            </div>
            <div *ngIf="questionSet[currentIndex].type === 'upload'">
              <app-upload-file></app-upload-file>
            </div>

            <div class="NextPrev-Nav">
              <a class="prev-arrow"><span> <img src="../../assets/images/prev.svg" alt="Next" /></span> Previous</a>
              <button class="outline-btn-med">Save and Exit</button>
              <a class="next-arrow">Next <span> <img src="../../assets/images/next.svg" alt="Next" /></span></a>
            </div>
          </div>
        </div>
      </div>
      <div class="question-right-part">
        <app-far-references [references]="references"></app-far-references>
      </div>
    </div>
  </div>
</div>