<div class="slack_new_task__main_card">
  <div class="slack_new_task__title_row">
    <div class="slack_new_task__title">New</div>
    <div class="options_three_dots">
      <img src="../../../../assets/images/three_dot_image.svg" alt="" />
    </div>
  </div>
  <div class="task_list_card">
    <div class="task_list_card_title">Create RFI Draft</div>
    <div class="task_list_card_meta_row">
      <div class="task_list_card_meta_date">May 28, 2019</div>
      <div class="task_list_card_meta_user">
        <span
          ><img src="../../../../assets/images/user-photo.png" alt="" />
        </span>
        <span
          ><img src="../../../../assets/images/user-photo.png" alt="" />
        </span>
        <span
          ><img src="../../../../assets/images/user-photo.png" alt="" />
        </span>
      </div>
    </div>
  </div>
  <div class="task_list_card">
      <div class="task_list_card_title">Create RFI Draft</div>
      <div class="task_list_card_meta_row">
        <div class="task_list_card_meta_date">May 28, 2019</div>
        <div class="task_list_card_meta_user">
          <span
            ><img src="../../../../assets/images/user-photo.png" alt="" />
          </span>
          <span
            ><img src="../../../../assets/images/user-photo.png" alt="" />
          </span>
          <span
            ><img src="../../../../assets/images/user-photo.png" alt="" />
          </span>
        </div>
      </div>
    </div>
  <div class="task_list_card_add_btn"><button>Add a Task</button></div>
</div>
