<div class="question-main">
        <!-- Single Dropdown -->
        <div class="question-box"> <span class="question-no"> Question 3.1 of 10</span>
            <h2>What is the Period of Performance?</h2>
            <div class="answer-box">
                <form>
                    
                       
                        <div class="form-row">
                            <div class="col-4">
                                <div class="form-group">
                                     <label class="control-label">START DATE </label>
                               <input class="date-control" type="date" placeholder="05-01-2019" />
                                    </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                     <label class="control-label">END DATE</label>
                                <input class="date-control" type="date" placeholder="05-01-2019" />
                                  </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-4">
                                <div class="form-group">
                                     <label class="control-label">DURATION</label>
                                    <strong class="duration">29 Days</strong>
                                    </div>
                            </div>
                        </div>
                                                  

                        
                </form>
            </div>
            <div class="NextPrev-Nav">
                <a href="#" class="prev-arrow"><span> <img src="../../assets/images/prev.svg" alt="Next" /></span> Previous</a>
                <button class="outline-btn-med">Save Changes</button>
                <a href="#" class="next-arrow">Next <span> <img src="../../assets/images/next.svg" alt="Next" /></span></a>
            </div>
        </div>
    </div>