.Acquisition_Strategy_main_section {
  padding: 0px 0px 40px 0px;

  .heading_with_edit {
    padding: 13px 5px 13px 5px;
    background-color: #fbfbfb;
  }

  .two_col_list {
    .two_col_list_row {
      display: flex;
      padding: 7px 0px 7px 0px;

      .two_col_list_label {
        flex: 0 0 190px;
        color: #757585;
        font-size: 16px;
        font-family: "AvenirNextLTPro-Regular";
      }

      .two_col_list_value {
        flex: 1 1 auto;
        color: #212125;
        font-size: 16px;
      }
      .two_col_list_small_title {
        font-size: 15px;
        color: #757585;
      }
    }
  }

  .Acquisition_Strategy_row {
    display: flex;
    justify-content: space-between;
    padding: 10px;

    .Acquisition_Strategy_col {
      flex: 0 0 48%;
    }
  }

  .two_col_list_response
  {
    display: flex;
    flex: 0 0 90px;
    align-items: center;

    span
    {
      padding: 0px 0px 0px 8px;
    }

    &.yes
    {
      color: #39b54a;
    }

    &.pending
    {
      color: #aaa7b5;
    }

    &.no
    {
      color: #f85359;
    }
  }

  .heading_with_edit_button
  {
    width: 100%;
    display: flex;
    align-items: center;
    flex: 1 1 auto;
  }
}
