<div class="fixed-width">
  <div class="Acquisition_Strategy_main_section">
    <div class="heading_with_edit">
      <div class="heading_with_edit_button">
        <h3>Acquisition Strategy</h3>
        <div class="heading_edit">
          <img src="../../../assets/images/edit-blue.svg" alt="" />
          <span>Edit</span>
        </div>
      </div>
      <button class="secondary_blue_btn">Acknowledge</button>
    </div>

    <div class="Acquisition_Strategy_row">
      <div class="Acquisition_Strategy_col">
        <div class="two_col_list">
          <div class="two_col_list_row">
            <div class="two_col_list_label two_col_list_small_title">
              VALUES
            </div>
            <div class="two_col_list_value"></div>
          </div>
          <div class="two_col_list_row">
            <div class="two_col_list_label">Contracting Vehicle:</div>
            <div class="two_col_list_value">Navy SeaPort-E NexGen</div>
          </div>
          <div class="two_col_list_row">
            <div class="two_col_list_label">Funding Type:</div>
            <div class="two_col_list_value">MILCON</div>
          </div>

          <div class="two_col_list_row">
            <div class="two_col_list_label">Target Date:</div>
            <div class="two_col_list_value"></div>
          </div>

          <div class="two_col_list_row">
            <div class="two_col_list_label">Set Aside:</div>
            <div class="two_col_list_value">HUBZone</div>
          </div>

          <div class="two_col_list_row">
            <div class="two_col_list_label">Certifications Required:</div>
            <div class="two_col_list_value">
              1. TOP SECRET FCL <br />
              2. MILCON BONDING <br />3. CERTIFIED HUBZONE
            </div>
          </div>
        </div>
      </div>

      <div class="Acquisition_Strategy_col">
        <div class="two_col_list">
          <div class="two_col_list_row">
            <div class="two_col_list_label two_col_list_small_title">
              TEAM MEMBER
            </div>
            <div class="two_col_list_value"></div>
            <div class="two_col_list_response two_col_list_small_title">
              RESPONSE
            </div>
          </div>
          <div class="two_col_list_row">
            <div class="two_col_list_label">Contracting Officer</div>
            <div class="two_col_list_value">Marie Gosnell</div>
            <div class="two_col_list_response yes">
              <img src="../../../assets/images/circle-ok.svg" alt="" />
              <span>Yes</span>
            </div>
          </div>

          <div class="two_col_list_row">
            <div class="two_col_list_label">Contracting Specialist</div>
            <div class="two_col_list_value">Tori Caputo</div>
            <div class="two_col_list_response yes">
              <img src="../../../assets/images/circle-ok.svg" alt="" />
              <span>Yes</span>
            </div>
          </div>

          <div class="two_col_list_row">
            <div class="two_col_list_label">Legal</div>
            <div class="two_col_list_value">Shawna Howell</div>
            <div class="two_col_list_response pending">
              <img src="../../../assets/images/time-gray.svg" alt="" />
              <span>Pending</span>
            </div>
          </div>

          <div class="two_col_list_row">
            <div class="two_col_list_label">Program Office</div>
            <div class="two_col_list_value">John Blake</div>
            <div class="two_col_list_response no">
              <img src="../../../assets/images/no-icon.svg" alt="" />
              <span>No</span>
            </div>
          </div>

          <div class="two_col_list_row">
            <div class="two_col_list_label">Budget Analyst</div>
            <div class="two_col_list_value">Mark Waites</div>
            <div class="two_col_list_response pending">
              <img src="../../../assets/images/time-gray.svg" alt="" />
              <span>Pending</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
