<div class="fixed-width">
  <div class="Acquisition_Strategy_main_section">
    <div class="heading_with_edit">
      <div class="heading_with_edit_button">
        <h3>Acquisition Strategy</h3>
        <div class="heading_edit">
          <img src="../../../assets/images/edit-blue.svg" alt="" />
          <span>Edit</span>
        </div>
      </div>
      <button class="secondary_blue_btn">Acknowledge</button>
    </div>

    <div class="Acquisition_Strategy_row">
      <div class="Acquisition_Strategy_col">
        <div class="two_col_list">
          <div class="two_col_list_row">
            <div class="two_col_list_label two_col_list_small_title">
              VALUES
            </div>
            <div class="two_col_list_value"></div>
          </div>
          <div class="two_col_list_row">
            <div class="two_col_list_label">Contracting Vehicle:</div>
            <div class="two_col_list_value">{{strategy?.values.contractingVehicle}}</div>
          </div>
          <div class="two_col_list_row">
            <div class="two_col_list_label">Funding Type:</div>
            <div class="two_col_list_value">{{strategy?.values.fundingType}}</div>
          </div>

          <div class="two_col_list_row">
            <div class="two_col_list_label">Target Date:</div>
            <div class="two_col_list_value">{{strategy?.values.targetDate}}</div>
          </div>

          <div class="two_col_list_row">
            <div class="two_col_list_label">Set Aside:</div>
            <div class="two_col_list_value">{{strategy?.values.setAside}}</div>
          </div>

          <div class="two_col_list_row">
            <div class="two_col_list_label">Certifications Required:</div>
            <div class="two_col_list_value" *ngIf="strategy && strategy.values.certificationsRequired">
              <div *ngFor="let certification of strategy.values.certificationsRequired; let i = index;">
                {{i+1}}. {{certification}}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="Acquisition_Strategy_col">
        <div class="two_col_list">
          <div class="two_col_list_row">
            <div class="two_col_list_label two_col_list_small_title">
              TEAM MEMBER
            </div>
            <div class="two_col_list_value"></div>
            <div class="two_col_list_response two_col_list_small_title">
              RESPONSE
            </div>
          </div>
          <div class="two_col_list_row" *ngFor="let item of strategy.team">
            <div class="two_col_list_label">{{item?.desig}}</div>
            <div class="two_col_list_value">{{item?.name}}</div>
            <div class="two_col_list_response yes">
              <img src="../../../assets/images/circle-ok.svg" alt="" *ngIf="item.response === 'Yes'"/>
              <img src="../../../assets/images/no-icon.svg" alt="" *ngIf="item.response === 'No'"/>
              <img src="../../../assets/images/time-gray.svg" alt="" *ngIf="item.response === 'Pending'"/>
              <span>{{item?.response}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
