@import "../../../variables.scss";
  .answer-box {
    padding-bottom: 41px;
}
  .form-row {
    margin: 0 -23px;
    display: flex;
}


.col-4 {
    flex-basis: 40%;
    padding: 0 23px;
}

.control-label {
    font-size: 12px;
    font-family: "AvenirNextLTPro-Demi";
    letter-spacing: 1px;
    line-height: 16px;
    padding-bottom: 8px;
    display: block;
    text-transform: uppercase;
    color: $black-3;
}.question-no {
    font-size: 12px;
    color: $black-3;
    letter-spacing: 1px;
    padding-bottom: 12px;
    font-family: "AvenirNextLTPro-Demi";
    line-height: 16px;
    text-transform: uppercase;
    display: block;
}
  h2 {
    font-size: 18px;
    font-weight: normal;
    line-height: 22px;
    margin: 0px;
    padding-bottom: 24px;
    color:$black-1;
    font-family: "AvenirNextLTPro-Regular";
}

/**** Dropdown css ***/

.form-group {
    padding-bottom: 33px;
}

.date-control {
    border-radius: 4px;
    height: 37px;
    border: 1px solid transparent;
    display: block;
    width: 100%;
    color: #212126;
    font-size: 14px;
    font-weight: normal;
    padding: 5px 16px;
    line-height: 1;
    transition: all 0.3s;
    background:url(../../../assets/images/datepicker.svg) right 20px center no-repeat #fff;

}
::-webkit-calendar-picker-indicator {
    font-size: 0px;
    background: transparent;
    height: 20px;
    background-size: cover;
    opacity: 1;
    color: transparent;
    width: 20px;
}
::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}

.date-control:focus {
    outline: 0px;
    border: 1px solid $cerulean;
}

input::placeholder {
    color: #aaa7b5;
}
.duration {font-size: 18px;
  font-weight: normal; color: #212126;  line-height: 1.61;
}