<div class="bar-chart-container">
  <div class="bar-chart-column">
    <div class="bar-chart-inner">
      <div class="bar-chart-thumb-container">
        <div class="bar-col" *ngFor="let item of chartData">
          <div class="bar-inner-column">
              <div class="line-graph" [style.width.%]="item.percentage">
                  <div class="text-content">
                        <div class="bar-inner-subtext">{{item.label}}</div>
                        <div class="bar-inner-text">{{item.percentage}}%</div>
                  </div>
                </div>
     
          </div>
        </div>
      </div>
    </div>
    <div class="bar-chart-bottom-text">
      <span class="year-text">Goal:</span><span class="year-percentage"> 22%</span>
    </div>
    <div class="total-text">$61.4 B</div>
  </div>
  <div class="bar-chart-text-column">
    <div class="bar-chart-text-row" *ngFor="let item of chartData">
        <div class="chart-dot"></div>
        <div class="chart-sub-text">
            {{item.description}}
        </div>
      
     
    </div>
  </div>
</div>
