@import "../../../../variables.scss";
.bar-chart-text-row {
  display: flex;
  padding: 0 0 15px;
  align-items: flex-start;
  flex:1 1 auto;
}
.bar-chart-container{
  display: flex;
  align-items: center;
}
.chart-dot {
  height: 10px;
  width: 10px;
  border-radius: 3px;
  flex:0 0 10px;
}
.chart-sub-text {
  font-size: 14px;
  color: $black-2;
  font-family: "AvenirNextLTPro-Regular";
  padding: 0 0 0 20px;
}

.bar-chart-column {
  flex: 0 0 150px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}
.bar-chart-inner {
  display: flex;
  width: 100%;
  align-items: flex-end;
}
.bar-chart-thumb-container{
  display: flex;
  padding: 17px 0;
  border-left: 1px solid $black-5;
  border-bottom: 1px solid $black-5;
  height: 100%;
  width: 100%;
  flex-direction: column;
}
.bar-inner-text {
  font-size: 8px;
  font-family: "AvenirNextLTPro-Demi";
  color: $black-2;
  text-align: center;
  padding:0 0 2px;
}
.bar-inner-column{
  width: 100%;
  height: 23px;
}
.bar-col, .bar-chart-text-row {
  &:first-child {
    .line-graph, .chart-dot {
    // background: $ice-blue-two;
    background: #002c54;
  }}
  &:nth-child(2) {
    .line-graph, .chart-dot {
      background: $azure;
    }
  }
  &:nth-child(3) {
    .line-graph, .chart-dot {
      background: $cerulean;
    }
  }
  &:nth-child(4) {
    .line-graph, .chart-dot {
      background: $sky-blue;
    }
  }
}
.line-graph {
  width: 100%;
  height: 23px;
  display: inline-block;
  position: relative;
}
.bar-inner-subtext{
  font-size: 8px;
  font-family: "AvenirNextLTPro-Demi";
  color: #8f8f9c;
  padding-bottom:2px;
  text-align: center;
}
.bar-col{
  display: flex;
  justify-content: flex-end;
  margin: 0 0 8px;
  &:last-child{
    margin:0;
  }
}
.bar-chart-text-column{
  padding:0 0 0 38px;
  flex: 1 1 auto;
}
.year-text{
  color:$dark-grey-two;
  font-size: 18px;
}
.year-percentage{
  font-size: 18px;
  font-family: "AvenirNextLTPro-Demi";
}
.bar-chart-bottom-text{
  display: flex;
  justify-content: center;
  align-items: center;
  padding:17px 0 0;
}
.total-text{
  font-size: 14px;
  color:$black-2;
  font-family: "Avenir-Roman";
  padding:2px 0 0;
  text-align: center;
}
.bar-chart-text-detail{
  flex:1 1 auto;
  display: flex;
}
.text-content{
  position: absolute;
  top: 8px;
  right: -28px;
}
.bar-chart-inner-percentage{
  color:$black-2;
  font-size: 16px;
  font-family: "AvenirNextLTPro-Demi";
}
.bar-chart-botton-info{
  display: flex;
  align-items: flex-start;
}