<div class="bar-chart-container">
  <div class="bar-chart-column">
    <div class="bar-chart-inner">
      <div class="bar-chart-thumb-container">
        <div class="bar-col">
          <div class="bar-inner-column">
            <div class="bar-inner-text">5%</div>
            <div class="line-graph extrasmall"></div>
          </div>
        </div>
        <div class="bar-col">
          <div class="bar-inner-column">
              <div class="bar-inner-subtext">$11.1B</div>
            <div class="bar-inner-text">5%</div>
            <div class="line-graph medium"></div>
          </div>
        </div>
        <div class="bar-col">
          <div class="bar-inner-column">
            <div class="bar-inner-text">5%</div>
            <div class="line-graph high"></div>
          </div>
        </div>
        <div class="bar-col">
         
          <div class="bar-inner-column">
            <div class="bar-inner-text">5%</div>
            <div class="line-graph small"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="bar-chart-bottom-text">
      <span class="year-text">Goal:</span><span class="year-percentage"> 22%</span>
    </div>
    <div class="total-text">$61.4 B</div>
  </div>
  <div class="bar-chart-text-column">
    <div class="bar-chart-text-row">
      <div class="chart-dot high"></div>
      <div class="chart-sub-text">Women Owned Small Business</div>
    </div>
    <div class="bar-chart-text-row">
      <div class="chart-dot medium"></div>
      <div class="chart-sub-text">Small Disadvantaged Business</div>
    </div>
    <div class="bar-chart-text-row">
      <div class="chart-dot small"></div>
      <div class="chart-sub-text">
        Service Disabled Veteran Owned Small Business
      </div>
    </div>
    <div class="bar-chart-text-row">
      <div class="chart-dot extrasmall"></div>
      <div class="chart-sub-text">HUBZone</div>
    </div>
  </div>
</div>
