<h2>Please select the relevant NAICS code from the list given below</h2>
<div class="answer-box">
    <form>

        <label class="control-label">Enter the NAICS code </label>
        <div class="form-row">
            <div class="col-8">
                <div class="form-group">
                    <select class="form-control">
                        <option>Select a sub-level agency</option>
                        <option>agency</option>
                        <option>agency</option>
                        <option>agency</option>
                    </select>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <input class="form-control" placeholder="Enter the code" />
                </div>
            </div>
        </div>
        <div class="relevant-link">
            <a >Can’t find the relevant NAICS code?</a>
        </div>
    </form>
</div>