@import "../../../variables.scss";
  .answer-box {
    padding-bottom: 115px;
}
.control-label {
    font-size: 12px;
    font-family: "AvenirNextLTPro-Demi";
    letter-spacing: 1px;
    line-height: 16px;
    padding-bottom: 8px;
    display: block;
    text-transform: uppercase;
    color: $black-3;
}
h2 {
    font-size: 18px;
    font-weight: normal;
    line-height: 22px;
    margin: 0px;
    padding-bottom: 24px;
    color:$black-1;
    font-family: "AvenirNextLTPro-Regular";
}
  .form-group {
    padding-bottom: 16px;
    position: relative;
}
.form-row {
    margin: 0 -8px;
    display: flex;
}

.col-8 {
    flex-basis: 75%;
    padding: 0 8px;
}

.col-4 {
    flex-basis: 25%;
    padding: 0 8px;
}
.col-12 {
    flex-basis: 100%;
    padding: 0 8px;
}

.form-control {
    border-radius: 4px;
    height: 52px;
    border: 1px solid transparent;
    display: block;
    width: 100%;
    color: #212126;
    font-size: 14px;
    font-weight: normal;
    padding: 5px 16px;
    line-height: 1;
    transition: all 0.3s;
}

.form-control:focus {
    outline: 0px;
    border: 1px solid $cerulean;
}

input::placeholder {
    color: #aaa7b5;
}

.relevant-link {
    text-align: right;
}

.relevant-link a {
    font-size: 14px;
    color: $cerulean;
    font-weight: normal;
    letter-spacing: 0.3px;
    transition: all 0.3s;
}
.relevant-link a:hover {
    color: $azure;
}
    .NextPrev-Nav {
    display: flex;
    justify-content: space-between;
}
.body-list-dropdown {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #d8d8d8;
  cursor: pointer;
  position: relative;
}
.body-list-status {
  color: $dark-grey-two;
  font-size: 14px;
  font-family: "AvenirNextLTPro-Demi";
  padding: 0 24px 0 0;
}
.body-list-submenu {
  min-width: 100%;
  width: 120px;
  background: #ffffff;
  box-shadow: 0 3px 12px 2px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  position: absolute;
  top: auto;
  left: 0;
  display: none;
  &.open {
    display: block;
  }
.body-list-submenu-item {
    list-style: none;
    padding: 10px;
    font-size: 14px;
    font-family: "AvenirNextLTPro-Regular";
    border-bottom: 1px solid #d8d8d8;
  }
}