@import "../../../../variables.scss";
.acq-title{
  font-size:24px;
  font-family: "AvenirNextLTPro-Demi";
  padding-bottom: 60px;
  h2{
    color:$black-1;
  }
}
.acq-process-block{
  padding: 38px 33px;
  background: $ice-blue-two;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 60px;
}