<!-- Single Dropdown -->
<h2>What agency is this for?</h2>
<div class="answer-box">
    <form>
        <div class="form-row">
            <div class="col-6">
                <div class="form-group">
                    <label class="control-label">Select the top level agency</label>
                    <div class="radio-listing">
                        <p>
                            <label class="radio-btn">
                                <input type="radio" name="agency" /><span class="radio-box"></span> <span
                                    class="radio-label">Department of the Army</span></label>
                        </p>
                        <p>
                            <label class="radio-btn">
                                <input type="radio" name="agency" /><span class="radio-box"></span> <span
                                    class="radio-label">Department of the Navy</span></label>
                        </p>
                        <p>
                            <label class="radio-btn">
                                <input type="radio" name="agency" /><span class="radio-box"></span> <span
                                    class="radio-label">Department of the Air Force</span></label>
                        </p>
                        <p>
                            <label class="radio-btn">
                                <input type="radio" name="agency" /><span class="radio-box"></span> <span
                                    class="radio-label">Other Unified Military Commands</span></label>
                        </p>
                        <p>
                            <label class="radio-btn">
                                <input type="radio" name="agency" /><span class="radio-box"></span> <span
                                    class="radio-label">Other DoD Agencies</span></label>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label class="control-label">Select the top level agency</label>
                    <select class="form-control">
                        <option>Select a sub-level agency</option>
                        <option>agency</option>
                        <option>agency</option>
                        <option>agency</option>
                    </select>
                </div>
            </div>
        </div>
    </form>
</div>