<div class="fixed-width">
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th *ngFor="let item of headerData">{{item.label}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let obj of tableData" [class.cursor-pointer]="isClickable" (click)="tableDataClicked(obj)">
          <td *ngFor="let key of headerData" [class.red]="key.enableColorCode && obj[key.slug] < 0" [class.green]="key.enableColorCode && obj[key.slug] >= 0">{{obj[key.slug]}}</td>
        </tr>
        <tr class="total" *ngIf="tableFooter">
          <td *ngFor="let key of headerData">{{tableFooter[key.slug]}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>