<div class="fixed-width">
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>TYPE OF ACTION</th>
          <th>Number of Action(s) To date</th>
          <th>Total Actions Remaining - Acq Plan Developed</th>
          <th>
            Avg ECLT (Days)
          </th>
          <th class="w-20">
            Delta (AVG ECLT Against WHS AD Goal)
          </th>
          <th>
            Anticipated Total Contract Value
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Competitive</td>
          <td>810</td>
          <td>340</td>
          <td>267</td>
          <td>-87.00</td>
          <td>$3,898,000,000</td>
        </tr>
        <tr>
          <td>GWAC (Economy Action)</td>
          <td>810</td>
          <td>340</td>
          <td>267</td>
          <td>-87.00</td>
          <td>$3,898,000,000</td>
        </tr>
        <tr class="total">
          <td>Total Actions</td>
          <td>810</td>
          <td>340</td>
          <td>267</td>
          <td>-87.00</td>
          <td>US$10,445,000,000</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>